<div class="example-container lobster-text">
  <h3>
    Contact Me!
  </h3>
    <mat-form-field class="lobster-text">
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field class="lobster-text">
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field class="lobster-text">
          <input matInput placeholder="Phone Number">
        </mat-form-field>
  
    <mat-form-field class="lobster-text">
      <mat-select placeholder="Preference">
        <mat-option value="option">Stuff</mat-option>
        <mat-option value="option">Things</mat-option>
        <mat-option value="option">Cat</mat-option>
        <mat-option value="option">Snake</mat-option>

      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="accent" class="lobster-text">Submit</button>
  </div>