<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>

<div class="container-fluid">
<h2>
    Welcome to my site, son.
</h2>

<mat-list layout="column" layout-align="space-between-center" class="container-fluid">

<mat-list-item>
        <a href="#bottom" class='sidebar' mat-stroked-button color="accent" class="lobster-text" routerLink="/about" routerLinkActive="active">About</a>
    </mat-list-item>

<mat-list-item>
        <button mat-stroked-button color="accent" class="lobster-text" routerLink="/home" routerLinkActive="active">Portfolio</button>
    </mat-list-item>

<mat-list-item>
        <button mat-stroked-button color="accent" class="lobster-text" routerLink="/contact" routerLinkActive="active">Contact</button>
</mat-list-item>

<p id='bottom' style="color:pink">
        Chris Huang © 2018
</p>

</mat-list>


</div>