<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav sideBar" mode="side">
      <abe-menu ></abe-menu>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
              <div class="row align-items-center">
                  <img src='../assets/BWPIC.jpg' class="img-fluid"  alt="profile">
                  <h1 class="centered">
                    <div class="strokeme">
                        Chris Huang
                    </div>
                    </h1>
              </div>
      </button>
      <router-outlet></router-outlet>
      <div class="lobster-text">
          Chris Huang © 2018
        </div>
    </div>

  </mat-drawer-container>
<footer></footer>
